<div class="card shadow-none mb-3 mb-lg-0 border rounded-0">
    {% if request.session.urole %}
    <div class="card-body">
        <div class="list-group list-group-flush">	<a href="{% url 'Account_Deshboard' %}" class="list-group-item d-flex justify-content-between align-items-center">Dashboard <i class='bx bx-tachometer fs-5'></i></a>
            <a href="{% url 'Account_Orders' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Orders <i class='bx bx-cart-alt fs-5'></i></a>
            <a href="{% url 'Account_Address' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i class='bx bx-home-smile fs-5'></i></a>
            <a href="{% url 'Account_payment_method' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Payment Methods <i class='bx bx-credit-card fs-5'></i></a>
            <a href="{% url 'Account_user_details' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Account Details <i class='bx bx-user-circle fs-5'></i></a>
            <a href="{% url 'logout' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Logout <i class='bx bx-log-out fs-5'></i></a>
        </div>
    </div>
    {% elif request.session.srole %}
    <div class="card-body">
        <div class="list-group list-group-flush">	<a href="{% url 'Account_Deshboard' %}" class="list-group-item d-flex justify-content-between align-items-center">Dashboard <i class='bx bx-tachometer fs-5'></i></a>
            <a href="{% url 'Account_Orders' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Orders <i class='bx bx-cart-alt fs-5'></i></a>
            <a href="{% url 'sellermyproduct' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">My Products <i class='bx bx-cart-alt fs-5'></i></a>
            <a href="{% url 'Account_Address' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i class='bx bx-home-smile fs-5'></i></a>
            <a href="{% url 'addproductpage' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Add Product <i class='bx bx-credit-card fs-5'></i></a>
            <a href="{% url 'Account_user_details' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Account Details <i class='bx bx-user-circle fs-5'></i></a>
            <a href="{% url 'logout' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Logout <i class='bx bx-log-out fs-5'></i></a>
        </div>
    </div>
    {% endif %}
</div>
